@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Smooth Scroll */
html{
    scroll-behavior: smooth;
}

/* Utility Classes */
.text-secondary{
    color: #55BA53;
}
.text-center{
    text-align: center;
}
.bg-light{
    background: #cfcfcf;
}
.bg-secondary{
    background: #55BA53;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
/* .abstract {
  background-color: #8ac8d5;
  background-image:
  radial-gradient(rgba(76,139,152,1), rgba(138,201,214,.05) 200px, transparent 600px),
  radial-gradient(rgba(76,139,152,1), rgba(255,255,255,.1) 300px, transparent 500px),
  radial-gradient(rgba(76,139,152,1), rgba(138,201,214,.1) 1000px, transparent 1000px);
  background-size: 1000px 800px, 700px 800px, 700px 800px; 
  background-position: 0 -200px, 300px -100px, 700px -200px;
  height: 800px;
 animation: animatedBackground 4s linear infinite;
} */
.container-fluid {
  background-color: #151515;
  background-image:
    radial-gradient(rgba(21, 21, 21, 1), rgba(52, 111, 240, 0.5) 0, transparent 700px),
    radial-gradient(rgba(21, 21, 21, 1), rgba(213, 225, 79, 0.1) 0, transparent 200px);
    
  background-size: 1500px 1000px, 500px 200px;
  background-position: 180% 155%, 60% 100%;
  background-repeat: no-repeat;
  /*height: 686px;*/
}

.navbar{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);}

.container-fluid{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

}
